// Body
$body-bg: #C4E0EB;
$navbar: #3490DC;
$font-path-eot: "../../public/fonts/BYekan.eot";
$font-path-wolf: "../../public/fonts/BYekan.woff";
$BYekan: 'BYekan';
$right: ltr;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$lightblue: #00bfff;
$black:black;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;

