// Variables
@import '_variables';


@font-face {
  font-family: $BYekan;
  src: url($font-path-eot) format('eot');
  src: url($font-path-wolf) format('woff');
}

body {
  background-color: $body-bg;
  font-family: $BYekan;
}

.navbar {
  background-color: $navbar;
}

.cardHead {
  direction: $right;
  background-color: $navbar;
}

.dir {
  direction: $left;
}

.swal-overlay {
  background-color: $body-bg;
}

.right {
  direction: $right;
}

.left {
  direction: $left;
}







